<div fxLayout="column" style="height: 100vh;" style="padding: 1% 5% 1% 5%;">
  <!-- Header -->
  <header>

    <div class="header-div">

      <mat-card class="header-card">


        <mat-card-content>


          <div fxLayout="flex">
            <div fxFlex="10%">
              <div style="margin: auto;">
                <button  mat-icon-button class="icon-white" aria-label="Home icon" (click)="toggleMenu()" >
                  <i *ngIf="!showMenu" class="material-icons">menu</i>
                  <i *ngIf="showMenu" class="material-icons">menu_open</i>
                </button>
              </div>
            </div>

            <div fxFlex="10%">

            </div>

            <div fxFlex="20%" class="text-center" style="margin: auto; ">
                <mat-card style="box-shadow: rgb(255 255 255 / 41%) 0px 0px 2px 2px; border-radius: 10px;">
                  <mat-card-title style=" font-weight:400">
                    Component Playground
                  </mat-card-title>
                </mat-card>




            </div>
            <div fxFlex="10%">


            </div>

            <div fxFlex="10%">

              <div></div>

            </div>


          </div>

        </mat-card-content>




      </mat-card>

    </div>

  </header>


  <div fxFlex>

      <div  *ngIf="showMenu" [@fadeInOut]>


        <mat-card style="margin-top: 5px; border: 1px solid #00000045; border-radius: 20px;">

          <mat-card-header>

            <mat-card-title>
              Select component
            </mat-card-title>

          </mat-card-header>


          <mat-card-content>


            <div fxLayout="row wrap" fxLayoutAlign="start start"  >

              <ng-container *ngFor="let data of componentList">

                <mat-chip-listbox >

                  <div fxFlex="calc(33.33% - 16px)" style="margin: 8px;">

                    <mat-chip  style="align-items: center; justify-content: center;" (click)="goToPage(data)" >

                     <span>
                      {{data.name}}
                     </span>

                    </mat-chip>

                  </div>

                </mat-chip-listbox>



              </ng-container>


            </div>



          </mat-card-content>


        </mat-card>


      </div>

  </div>





  <!-- Main Content -->
  <main fxFlex>

    <div>
      <router-outlet>

      </router-outlet>
    </div>

  </main>
</div>
