
<div>

  <mat-card style="margin-top: 5px; border: 1px solid #00000045; border-radius: 20px;" >
      <mat-card-header>
          <mat-card-title>INTERPOLATION SYNTAX</mat-card-title>
          <mat-card-subtitle>Below double quotes value is displayed with custom interpolation syntax as $ instead of generic {} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content style="margin-top: 2%;">


          <p>
            $data$
          </p>


            The interpolation property,
            <ul>
              <li>
                It is a nullable property which means it's optional to set its value.
              </li>
              <li>
                It takes a string array of size two as the value in that the first element acts as the start of interpolation, and the second element acts as the end of the interpolation.
              </li>
              <li>
                I hope you know this new interpolation syntax, also a hidden trick in the Angular component.
              </li>

              <li>
                <a href="https://www.linkedin.com/pulse/new-syntax-angular-interpolation-vivek-kumar-singh/" target="_blank"  >Reference Link</a>
              </li>
            </ul>


      </mat-card-content>


  </mat-card>

</div>
